body{


    background-color:#d14836;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}    

#top{

  color : white;
  padding: 15px;
  font-size: 30px;
  line-height: 26px;

}
#top h1{
    margin: 0px;
    line-height: 50px;


}
#menubar{

 float: right;

}
#main{

 background-color:  white;
 padding:  10px;
 font: 80% verdana;

}
h1{
    color: #d14836;
}